.search-bar {
  /* border: 2px solid greenyellow; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.insta-written-logo {
  font-family: "Grand Hotel", cursive;
  font-size: 3rem;
  padding: 20px 0 20px 20px;
}

.fab {
  font-size: 3rem;
  border-right: 1px solid #222;
  padding: 10px 20px 10px 10px;
}

.search-input {
  text-align: center;
  padding: 5px 0;
  font-size: 1rem;
  border-radius: 5px;
}

.form {
  margin: 0 auto;
}

.far {
  font-size: 2rem;
  padding: 0 20px;
}
